{%- set shibboleth = salt['grains.filter_by']({
    'default': {
      'install': {
        'java_packages': [
          'java-1.8.0-openjdk-devel',
          'java-1.8.0-openjdk'
        ],
        'java_home': '/usr/lib/jvm/java/',
        'shibboleth_url': 'https://shibboleth.net/downloads/identity-provider/',
        'version': '3.3.2',
        'directory': '/opt',
        'support_packages': [
          'wget'
        ],
      },
      'config': {
        'container_user': 'tomcat',
        # Host the salt-minion can access locally to reload Shib services
        'reload_host': 'localhost:8080',
        'idp_properties': {
        'idp.additionalProperties': '/conf/ldap.properties, /conf/saml-nameid.properties, /conf/services.properties, /conf/authn/duo.properties',
        'idp.entityID': 'https://idp.example.com/idp/shibboleth',
        'idp.scope': 'example.com',
        'idp.sealer.storeResource': '%{idp.home}/credentials/sealer.jks',
        'idp.sealer.versionResource': '%{idp.home}/credentials/sealer.kver',
        'idp.sealer.storePassword': 'password',
        'idp.sealer.keyPassword': 'password',
        'idp.signing.key': '%{idp.home}/credentials/idp-signing.key',
        'idp.signing.cert': '%{idp.home}/credentials/idp-signing.crt',
        'idp.encryption.key': '%{idp.home}/credentials/idp-encryption.key',
        'idp.encryption.cert': '%{idp.home}/credentials/idp-encryption.crt',
        'idp.authn.flows': 'Password',
        'idp.ui.fallbackLanguages': 'en,fr,de',
        },
        'ldap_properties': {
          'idp.authn.LDAP.ldapURL': 'ldaps://ldap.example.com',
          'idp.authn.LDAP.trustCertificates': '%{idp.home}/credentials/ca.crt',
          'idp.authn.LDAP.returnAttributes': 'passwordExpirationTime,loginGraceRemaining',
          'idp.authn.LDAP.baseDN': 'ou=users,dc=example,dc=com',
          'idp.authn.LDAP.userFilter': '(uid={user})',
          'idp.authn.LDAP.bindDN': 'cn=svcacct,ou=users,dc=example,dc=com',
          'idp.authn.LDAP.bindDNCredential': 'secret',
          'idp.authn.LDAP.dnFormat': 'cn=%s,ou=users,dc=example,dc=com',
          'idp.authn.LDAP.useStartTLS': 'false',
          'idp.authn.LDAP.useSSL': 'true',
          'idp.attribute.resolver.LDAP.ldapURL': '%{idp.authn.LDAP.ldapURL}',
          'idp.attribute.resolver.LDAP.connectTimeout': '%{idp.authn.LDAP.connectTimeout:PT3S}',
          'idp.attribute.resolver.LDAP.responseTimeout': '%{idp.authn.LDAP.responseTimeout:PT3S}',
          'idp.attribute.resolver.LDAP.baseDN': '%{idp.authn.LDAP.baseDN:undefined}',
          'idp.attribute.resolver.LDAP.bindDN': '%{idp.authn.LDAP.bindDN:undefined}',
          'idp.attribute.resolver.LDAP.bindDNCredential': '%{idp.authn.LDAP.bindDNCredential:undefined}',
          'idp.attribute.resolver.LDAP.useStartTLS': '%{idp.authn.LDAP.useStartTLS:true}',
          'idp.attribute.resolver.LDAP.trustCertificates': '%{idp.authn.LDAP.trustCertificates:undefined}',
          'idp.attribute.resolver.LDAP.searchFilter': '(uid=$resolutionContext.principal)',
        },
        'access_control': {},
        'general_admin': {},
        'metrics': {},
        'attribute_filter': {},
        'attribute_resolver_full': {},
        'attribute_resolver_ldap': {},
        'attribute_resolver': {},
        'audit': {},
        'authn_comparison': {},
        'duo_authn_config': {},
        'duo_properties': {},
        'external_authn_config': {},
        'general_authn': {},
        'ipaddress_authn_config': {},
        'jaas_authn_config': {},
        'jaas_config': {},
        'krb5_authn_config': {},
        'ldap_authn_config': {},
        'password_authn_config': {},
        'remoteuser_authn_config': {},
        'remoteuser_internal_authn_config': {},
        'spnego_authn_config': {},
        'x509_authn_config': {},
        'x509_internal_authn_config': {},
        'authn_events_flow': {},
        'mfa_authn_config': {},
        'attribute_sourced_subject_c14n_config': {},
        'simple_subject_c14n_config': {},
        'subject_c14n': {},
        'x500_subject_c14n_config': {},
        'subject_c14n_events_flow': {},
        'cas_protocol': {},
        'credentials': {},
        'errors': {},
        'global': {},
        'consent_intercept_config': {},
        'expiring_password_intercept_config': {},
        'profile_intercept': {},
        'context_check_intercept_config': {},
        'intercept_events_flow': {},
        'logback': {},
        'metadata_providers': {},
        'mvc_beans': {},
        'relying_party': {},
        'saml_nameid_properties': {},
        'saml_nameid': {},
        'services_properties': {},
        'services': {},
        'session_manager': {},
        'messages_properties': {},
        'CMD': {},
      },
    },
  }, merge=salt['pillar.get']('shibboleth:lookup'), base='default')
%}
